modules = ["python-3.12", "web"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[userenv]

[userenv.shared]
API_BASE_URL = "https://learn-5-by-5-api-backend.onrender.com/api/v1"
APP_DATABASE_URL = "postgresql://postgres:password@helium:5432/heliumdb"
GOOGLE_WEB_CLIENT_ID = "434056178407-ibflr5r16l1mrokkm6e35pb15fv1ei0o.apps.googleusercontent.com"
